<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ChatDB" connectionString="metadata=res://*/EF.Chat.csdl|res://*/EF.Chat.ssdl|res://*/EF.Chat.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PR.Chat;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>