/_ReSharper.Chat
/Chat.5.0.ReSharper.user

*/bin
*/obj

/*/bin
/*/obj
/*/*/bin
/*/*/obj
/*/*/*/bin
/*/*/*/obj
/*/*/*/*/bin
/*/*/*/*/obj
/*/*/*/*/*/bin
/*/*/*/*/*/obj
/*/*/*/*/*/*/bin
/*/*/*/*/*/*/obj
/*/*/*/*/*/*/*/bin
/*/*/*/*/*/*/*/obj

*.suo
*.ReSharper
*.user

/Local.testsettings
/ThirdPartySources/EmitMapper/_ReSharper.EmitMapper
/ThirdPartySources/EmitMapper/*/obj
/ThirdPartySources/EmitMapper/*/bin