<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
   <connectionStrings>
      <add name="ChatDB" connectionString="Data Source=.;Initial Catalog=PR.Chat;Integrated Security=True" /> 
   </connectionStrings>
   <system.web>
      <compilation debug="true" targetFramework="4.0">
         <assemblies>
            <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         </assemblies>
      </compilation>

      <authentication mode="Forms">
         <forms loginUrl="~/Account/LogOn" timeout="2880" />
      </authentication>

      <pages>
         <namespaces>
            <add namespace="System.Web.Mvc" />
            <add namespace="System.Web.Mvc.Ajax" />
            <add namespace="System.Web.Mvc.Html" />
            <add namespace="System.Web.Routing" />
         </namespaces>
      </pages>
   </system.web>

   <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true"/>
   </system.webServer>

   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
   <system.serviceModel>
      <behaviors>
         <endpointBehaviors>
            <behavior name="JsonBehavior">
               <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare" />
            </behavior>
         </endpointBehaviors>
         <serviceBehaviors>
            <behavior name="TestBehavior">
               <serviceMetadata httpGetEnabled="true"/>
               <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
            <behavior name="MembershipServiceBehavior">
               <serviceMetadata httpGetEnabled="true"/>
               <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <bindings>
         <webHttpBinding>
            <binding
               name="WebHttp"
               writeEncoding="UTF-8"
            />
         </webHttpBinding>
      </bindings>
      <services>
         <service behaviorConfiguration="TestBehavior" name="PR.Chat.Presentation.Web.Services.Test">
            <endpoint
               address=""
               behaviorConfiguration="JsonBehavior"
               binding="webHttpBinding"
               bindingConfiguration="WebHttp"
               contract="PR.Chat.Presentation.Web.Services.ITest"
               name="HttpTest"

            >
            </endpoint>
         </service>
         <service behaviorConfiguration="MembershipServiceBehavior" name="PR.Chat.Presentation.Web.Services.MembershipService">
            <endpoint
               address=""
               behaviorConfiguration="JsonBehavior"
               binding="webHttpBinding"
               bindingConfiguration="WebHttp"
               contract="PR.Chat.Presentation.Services.IMembershipService"
               name="HttpMembershipService"
            >
            </endpoint>
         </service>
      </services>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
   </system.serviceModel>
</configuration>

