<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
   
   <connectionStrings>
      <add name="ApplicationServices"
           connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
           providerName="System.Data.SqlClient" />
      <add name="ChatDB"
           connectionString="Data Source=.;Initial Catalog=PR.Chat;Integrated Security=True"
           providerName="System.Data.SqlClient" />
   </connectionStrings>

   <system.web>
      <authentication mode="None" />
      <sessionState mode="StateServer" cookieless="false" timeout="600" />
      <customErrors mode="Off" />

      <membership>
         <providers>
            <clear />
            <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
         </providers>
      </membership>
      <profile>
         <providers>
            <clear />
            <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
         </providers>
      </profile>
      <roleManager enabled="false">
         <providers>
            <clear />
            <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         </providers>
      </roleManager>

      <compilation debug="true" targetFramework="4.0">
         <assemblies>
            <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         </assemblies>
      </compilation>

      <pages>
         <namespaces>
            <add namespace="System.Web.Mvc" />
            <add namespace="System.Web.Mvc.Ajax" />
            <add namespace="System.Web.Mvc.Html" />
            <add namespace="System.Web.Routing" />
         </namespaces>
      </pages>
   </system.web>

   <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true">
         <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
      </modules>
   </system.webServer>

   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
   
   <system.serviceModel>

      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"  multipleSiteBindingsEnabled="true"/>
      <bindings>
         <webHttpBinding>
            <binding
               name="webHttp"
               allowCookies="true"
               maxBufferSize="500000"
               maxBufferPoolSize="500000"
               maxReceivedMessageSize="500000"
               transferMode="Buffered"
               writeEncoding="UTF-8"
            >
               <security mode="None" />
            </binding>
         </webHttpBinding>
      </bindings>
      <behaviors>
         <endpointBehaviors>
            <behavior name="JsonWebBehavior">
               <webHttp defaultOutgoingResponseFormat="Json" />
            </behavior>
         </endpointBehaviors>
         <serviceBehaviors>
            <behavior name="PR.Chat.Presentation.Web.Servises.MembershipServiceBehavior">
               <serviceMetadata httpGetEnabled="true" />
               <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <services>
         <service name="PR.Chat.Presentation.Web.Servises.MembershipService" behaviorConfiguration="PR.Chat.Presentation.Web.Servises.MembershipServiceBehavior">
            <endpoint
               behaviorConfiguration="JsonWebBehavior"
               binding="webHttpBinding"
               bindingConfiguration="webHttp"
               contract="PR.Chat.Presentation.Services.IMembershipService"
               name="HttpJson"
            >
            </endpoint>
         </service>
      </services>
   </system.serviceModel>
</configuration>

